@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Light Theme Colors */
    --base-color: #e5e5e5;
    --search: #f4f2f2;
    --input-text: #646464;
    --input-placeholder: #cccccc;
    --input-hover-focus-bg: #f0eeee;
    --icon-color: #b4b4b4;

    /* Table Colors */
    --table-header-bg: #007bff;
    --table-header-text: #ffffff;
    --table-border: #dddddd;
    --table-row-bg-alt: #f9f9f9;
    --table-row-hover: #f1f1f1;

    /* Shadows */
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-input-focus: #00000013;

    /** Dark theme primary colors */
    --color-primary-a0: #02d9dc;
    --color-primary-a10: #4cdee0;
    --color-primary-a20: #6de2e4;
    --color-primary-a30: #87e7e8;
    --color-primary-a40: #9eebeb;
    --color-primary-a50: #b3efef;

    /** Dark theme surface colors */
    --color-surface-a0: #121212;
    --color-surface-a10: #282828;
    --color-surface-a20: #3f3f3f;
    --color-surface-a30: #575757;
    --color-surface-a40: #717171;
    --color-surface-a50: #8b8b8b;
}

/* Dark theme class */
[data-theme="dark"] {
    /* Baas värvid */
    --base-color: var(--color-surface-a10);
    --search: var(--color-surface-a20);
    --input-text: var(--color-surface-a50);
    --input-placeholder: var(--color-surface-a50);
    --input-hover-focus-bg: var(--color-surface-a20);
    --icon-color: var(--color-surface-a40);

    /* Tabeli värvid */
    --table-header-bg: var(--color-primary-a0);
    --table-header-text: #ffffff;
    --table-border: var(--color-surface-a20);
    --table-row-bg-alt: var(--color-surface-a10);
    --table-row-hover: var(--color-surface-a20);

    /* Varjud */
    --shadow-light: rgba(0, 0, 0, 0.2);
    --shadow-input-focus: rgba(0, 0, 0, 0.25);

    /* Taust ja tekst */
    background-color: var(--color-surface-0);
    color: var(--color-surface-a50);
}

/* Kindlustab box sizing */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    background-color: var(--base-color);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/** Temaatika nupp*/

.themeToggle {
    color: #bbb;
    width: 3em;
}

.st-sunMoonThemeToggleBtn {
    position: relative;
    cursor: pointer;
}

.st-sunMoonThemeToggleBtn .themeToggleInput {
    opacity: 0;
    width: 100%;
    aspect-ratio: 1;
}

.st-sunMoonThemeToggleBtn svg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
    transform: rotate(40deg);
}

.st-sunMoonThemeToggleBtn svg .sunMoon {
    transform-origin: center center;
    transition: inherit;
    transform: scale(1);
}

.st-sunMoonThemeToggleBtn svg .sunRay {
    transform-origin: center center;
    transform: scale(0);
}

.st-sunMoonThemeToggleBtn svg mask>circle {
    transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
    transform: translate(0px, 0px);
}

.st-sunMoonThemeToggleBtn svg .sunRay2 {
    animation-delay: 0.05s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay3 {
    animation-delay: 0.1s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay4 {
    animation-delay: 0.17s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay5 {
    animation-delay: 0.25s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay5 {
    animation-delay: 0.29s !important;
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg {
    transform: rotate(90deg);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg mask>circle {
    transform: translate(16px, -3px);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg .sunMoon {
    transform: scale(0.55);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg .sunRay {
    animation: showRay1832 0.4s ease 0s 1 forwards;
}


.main {
    width: 90vw;
    margin: 0 auto;
}

/** Otsingu riba*/

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10%;
    padding: 0 10px;
}

.search__input {
    font-family: inherit;
    font-size: x-large;
    background-color: var(--search);
    border: none;
    color: var(--input-text);
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 20em;
    height: 3em;
    margin-right: -4rem;
}

.search__input:hover,
.search__input:focus {
    box-shadow: 0 0 1em var(--shadow-input-focus);
}

.search__input:focus {
    outline: none;
    background-color: var(--input-hover-focus-bg);
}

.search__input::-webkit-input-placeholder {
    font-weight: 400;
    color: var(--input-placeholder);
}

.search__input:focus+.search__button {
    background-color: var(--input-hover-focus-bg);
}

.search__button {
    border: none;
    background-color: var(--search);
    margin-top: 0.1em;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 2.5em;
    width: 2.5em;
    fill: var(--color-primary-a20);
}

/* Flex konteiner tabeli jaoks */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
    margin-top: 25px;
    background-color: transparent;
}

/* IGa tabeli wrapper mahub ühte veergu */
.table-wrapper {
    flex: 1 1 calc(25% - 20px);
    /* Neli veergu ruumiga */
    background-color: #fff;
    border: 1px solid var(--table-border);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px var(--shadow-light);
}

/* Style tabelite jaoks */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

thead {
    background-color: var(--table-header-bg);
    color: var(--table-header-text);
}

th,
td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid var(--table-border);
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: var(--table-row-bg-alt);
}

tr:hover {
    background-color: var(--table-row-hover);
}

/** Laadija ikoon*/

.loader-container {
    display: none;
}

.hide-loader {
    display: none;
}

.loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
}

.loader:before {
    animation: before8 2s infinite;
}

.loader:after {
    animation: after6 2s infinite;
}

.loader {
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
}

@keyframes showRay1832 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes before8 {
    0% {
        width: 0.5em;
        box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }

    35% {
        width: 2.5em;
        box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }

    70% {
        width: 0.5em;
        box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }

    100% {
        box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
}

@keyframes after6 {
    0% {
        height: 0.5em;
        box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }

    35% {
        height: 2.5em;
        box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }

    70% {
        height: 0.5em;
        box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }

    100% {
        box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
}

#theme-toggle {
    position: absolute;
    top: -2rem;
    right: 2rem;
    z-index: 1000;
}

/* Responsive  */
@media (max-width: 1024px) {
    .table-wrapper {
        flex: 1 1 calc(25% - 20px);
        /* Kaks veergu keskmisel ekraanil */
    }
}

@media (max-width: 768px) {
    .table-wrapper {
        flex: 1 1 100%;
        /* Üks veerg väiksemal ekraanil */
    }

    #theme-toggle {
        position: fixed;
        top: auto;
        bottom: 5rem;
        right: 2rem;
    }
}